*{
  text-align: center;
  font-family: "Comic Sans MS",  sans-serif;
}
  .profile{
    display: grid;
    grid-template-areas:
    "navbar navbar"
    "sizeAvatars sizeAvatars"
    "about projects"
    "contact contact";
    grid-template-columns: 1fr 1fr; /*dos columnas de igual tamaño*/
    grid-template-rows: auto;/*filas que se ajustan al contenido*/
    grid-gap: 10px;
    justify-content: center; /* Centra la cuadrícula horizontalmente */
}
.navbar{grid-area: navbar; background-color: wheat; padding: 10px;}
.about{grid-area: about;background-color: wheat; padding: 10px;}
.sizeAvatars{grid-area: sizeAvatars; padding: 10px;}
.projects{grid-area: projects; background-color: wheat; padding: 10px;}
.contact{grid-area: contact;background-color: wheat; padding: 10px;}

.sizeAvatars{
  display: grid;
  place-items: center; /* Centra el contenido del avatar */
  justify-self: center; /* Centra el avatar horizontalmente */
  align-self: center; /* Centra el avatar verticalmente */
}